**Florianópolis Downtown Real State Data Analysis**

Hello! I'm Eduardo Adriani Rapanos and today I will try to propose many insights about the Florianópolis Downtown Real State Data. 

The data was provided by the LOCATES technologic company, that I work nowadays, with the purpose of I apply the knowledge of the Data Science Course, that I've been doing.

For maintain the value of the products of the LOCATES co., I selected old adverts from the first semester of 2022.

We will explore the Real State Data from the Downtown neighborhood of Florianópolis City, Brazil. The data were collected from internet adverts that is, they are real ads. We are interested in the propoerties which are saling, to indentify the **spatial distribution of the apartament meter square of these properties on the neighbohood** and compare secondarily it if a role data, including data without coordinates.

This processes were developed in this project:

1. Download the data from LOCATES co. database;
2. Importing the data set to Kaggle;
3. Data structure and content analysis;
4. Data cleaning;
5. Data visualization: analysis between de data with values to lat/lon columns and data with NaN values to these columns;
6. Data visualization: a Square Meter Apartament Value Map from Downtown of Florianópolis, Santa Catarina, Brazil;
7. Final Considerations.

# Importing the data

In [ ]:
# Lets read the data using a pandas dataframe:

import pandas as pd

In [ ]:
# Here, we are opening our data set and including the 'na' to empty cels:

df = pd.read_csv('/kaggle/input/florianpolis-downtown-real-state-analysis-fdrsa/tb_mercadoimob.csv', na_values = 'na')

In [ ]:
# Now, we will use the .head() method to read the 10 first lines of the archive:

df.head(n=10)

In [ ]:
# We will print all the columns of the df to discover which that having information about sale

print(df.columns)

In [ ]:
# The column with the information is 'tipo_negocio'. Lets print the first 10 rows of this column:

print(df['tipo_negocio'].head(10))

It's true! The **default** columns is 'tipo_negocio'.

In [ ]:
# Let's print only the **unique** values of the 'tipo_negocio' column:

unique_values = df['tipo_negocio'].unique()

print(unique_values)

Indeed, we've only the **'Venda'** and **'Aluguel'** values for this column.

# **Lets start the structure analysis of the data set:**

In [ ]:
# We will use the .shape to return the number of lines and columns:

df.shape

In [ ]:
# Now, we are print the number of the lines whitch the 'Venda' and 'Aluguel' values:

df[df['tipo_negocio'] == 'Venda'].shape

In [ ]:
df[df['tipo_negocio'] == 'Aluguel'].shape

In [ ]:
# Let's do a percentage analysis.

# For this, we are use a placeholder for a variable that we won't use. In this case is the columns number.

amt_total, _ = df.shape
amt_venda, _ = df[df['tipo_negocio'] == 'Venda'].shape
amt_aluguel, _ = df[df['tipo_negocio'] == 'Aluguel'].shape

In [ ]:
print(f'The rate of "Venda" is {round(100 * amt_venda / amt_total, 2)}%')

print(f'The rate of "Aluguel" is {round(100 * amt_aluguel / amt_total, 2)}%')

# Schema and data processing transformation

Now we will develop many steps to transform our data on way to do a spatial analysis. We will do many others transformations with the objective to analyse our data and to maintain your accuracy.

In [ ]:
df.head(n=5)

In [ ]:
# we will use the .dtypes to identify the data type of the cells

df.dtypes

**The columns of the dataset are consistent.**

In [ ]:
# * Category **atributes**: 

# selecting the columns of type 'object' and using the describe() method to summarize data.
# the transpose() method improve the data visualization

df.select_dtypes('object').describe().transpose()

In [ ]:
# * Category **numerics**: 

df.drop('id', axis=1).select_dtypes('number').describe().transpose()

# **No Data (NaN) Analysis**

In [ ]:
# Let's print all the columns if Nan values. 

# True = there is almost one Nan value.

# printing all the columns if NaN values

df.isna().any()



Our objective is spatialize the square meter value of our ads. For this, we will do the next steps:

In [ ]:
# Let's create a function to calcule the % of NaN data in each number column:

def stats_nan_data(df: pd.DataFrame) -> None:
    
    stats_nan_data = []
    for col in df.columns:
        if df[col].isna().any():
            amt, _ = df[df[col].isna()].shape
            total, _ = df.shape
            dict_nan_data = {col: {'amount': amt, 'percentage': round(100 * amt/total, 2)}}
            stats_nan_data.append(dict_nan_data)
    
    for stat in stats_nan_data:
        print(stat)

In [ ]:
# Let's print a % of NaN values

stats_nan_data(df=df)

In [ ]:
# Let's print a % of NaN values where 'tipo_negocio' == 'Venda'

stats_nan_data(df=df[df['tipo_negocio'] == 'Venda'])

In [ ]:
# Let's print a % of NaN values where 'tipo_negocio' == 'Aluguel'

stats_nan_data(df=df[df['tipo_negocio'] == 'Aluguel'])

We have a high values of percentage with **NaN** value for lat and lon columns. It represents more than 50% of the out data set. Maybe, there aren't information for these columns, for some factors: a lack of information in a complementary columns (numero, logradouro, complemento, etc) or for other reason, these address weren't geocodated.

# **Choosing and separating NaN at lat and lon columns:**

Now we are identify the **lat** and **lon** columns with NaN values and save in a output table.

We pretende, on the next steps, compare the data with coordinates and the data without coordinates,
mainly the sale value of the apartments.

In [ ]:
# Identifying the NaN rows in lat and lon columns:

nan_rows_df = df[df['lat'].isna() | df['lon'].isna()]

In [ ]:
# Exporting the NaN table to output: 

nan_rows_df.to_csv('/kaggle/working/nan_data.csv', index=False)

In [ ]:
# Here, we are opening our NaN data set and including the 'na' to empty cels:

ds = pd.read_csv('/kaggle/working/nan_data.csv', na_values = 'na')

In [ ]:
# Printing the lines x columns with our nan_data.csv table:

ds.shape

In [ ]:
# Printing the lines x columns with our fully data table:

df.shape

In [ ]:
# Dropping data from df where lat, lon are NaN:

df = df.dropna(subset=['lat', 'lon'])

In [ ]:
# Visualizing the number of rows and columns withou NaN values at lat lon:

df.shape

In [ ]:
# Visualizing the number of rows with 'tipo_negocio' = 'Venda':

df[df['tipo_negocio'] == 'Venda'].shape

In [ ]:
# Visualizing the number of rows with 'tipo_negocio' = 'Aluguel':

df[df['tipo_negocio'] == 'Aluguel'].shape

In [ ]:
# Creating variables to do some statistics:

amt_total_new, _ = df.shape
amt_venda_new, _ = df[df['tipo_negocio'] == 'Venda'].shape
amt_aluguel_new, _ = df[df['tipo_negocio'] == 'Aluguel'].shape

In [ ]:
print(f'The rate of "Venda" is {round(100 * amt_venda / amt_total, 2)}%')
print(f'The new rate of "Venda" is {round(100 * amt_venda_new / amt_total_new, 2)}%')
print('\n')
print(f'The rate of "Aluguel" is {round(100 * amt_aluguel / amt_total, 2)}%')
print(f'The new rate of "Aluguel" is {round(100 * amt_aluguel_new / amt_total_new, 2)}%')

**The comparison of de fully data table with de new table - without NaN's - is above.**

Indeed, we've a +- 1.9% of increase in a 'new rate Aluguel'.

However the final value is very near to the original condition.

**Here, we will create 4 new df to represent the data.**

One is with 'lat' and 'lon' information and 'tipo_negocio' = 'venda' for our spatial analysis.


The other three are for we do other analysis and verify the accuracy and vigor of our data.

In [ ]:
# Creating a variable that select only the 'Venda' at the 'tipo_negocio' colum:

df_venda = df[df['tipo_negocio'] == 'Venda']

In [ ]:
# Creating a variable that select only the 'Aluguel' at the 'tipo_negocio' colum:

df_aluguel = df[df['tipo_negocio'] == 'Aluguel']

In [ ]:
# ds = the df with NaN values at lat lon columns.

# Creating a variable that select only the 'Venda' at the 'tipo_negocio' colum:

ds_venda = ds[ds['tipo_negocio'] == 'Venda']

In [ ]:
# ds = the df with NaN values at lat lon columns.

# Creating a variable that select only the 'Aluguel' at the 'tipo_negocio' colum:

ds_aluguel = df[df['tipo_negocio'] == 'Aluguel']

In [ ]:
df_venda.shape

In [ ]:
ds_venda.shape

In [ ]:
 # Remembering our 'object' options:

df_venda.select_dtypes('object').head(n=5).transpose()

In [ ]:
# Let's print the columns of our datasets:

print(df_venda.columns)
print(ds_venda.columns)

**For the purpose of calculate the square meter value**

We will create a columns 'valor_m2' at the df_venda e ds_venda.

In [ ]:
df_venda['valor_m2'] = df_venda['valor'] / df_venda['area']

ds_venda['valor_m2'] = ds_venda['valor'] / ds_venda['area']

# It's done!

# **Data Visualization**

The data were done. Now, we will create many visualizations to correlact the explicative variables with the anser variable ('tipo_negocio' = 'Venda') to understad the spatial distribution of the meter square on the Downtown of Florianópolis.

In [ ]:
# Importing new libraries

import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np

from folium import plugins

from shapely.geometry import Point, Polygon
from folium.plugins import HeatMap

 
# Selecting the general style with witegrid

sns.set_style('whitegrid')

In [ ]:
# Here we will combine the columns 'tipo_imovel' with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'tipo_imovel'
titles = ['Type of property at non NaN df', 'Type of property at NaN df']

max_y = 0
max_val = df[column].value_counts().max() * 1.1 

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df, ds]):
    
    df_to_plot = dataframe[column].value_counts().reset_index()
    df_to_plot.columns = ['type', 'absolute_frequency']
    df_to_plot.sort_values(by='type', inplace=True)
    
    f = sns.barplot(x='type', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel=column.replace('_', ' ').capitalize(), ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_val))

plt.show()

**Comparing the df and ds** we can see that ds, indeed, there are more records at any classes at 'tipo_imovel'.

In [ ]:
# Here we will combine the columns 'tipo_imovel' == 'Venda' with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'tipo_imovel'
titles = ['Type of property from "Venda" non NaN df_venda', 'Type of property from "Venda" NaN ds_venda']

max_y = 0
max_val = df[column].value_counts().max() * 1.1 

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df_venda, ds_venda]):
    
    df_to_plot = dataframe[column].value_counts().reset_index()
    df_to_plot.columns = ['type', 'absolute_frequency']
    df_to_plot.sort_values(by='type', inplace=True)
    
    f = sns.barplot(x='type', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel=column.replace('_', ' ').capitalize(), ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_val))

plt.show()

In [ ]:
# Here we will combine the columns 'tipo_imovel' == 'Aluguel' with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'tipo_imovel'
titles = ['Type of property from "Aluguel" non NaN df_aluguel', 'Type of property from "Aluguel" NaN ds_aluguel']

max_y = 0
max_val = df[column].value_counts().max() * 1.1 

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df_aluguel, ds_aluguel]):
    
    df_to_plot = dataframe[column].value_counts().reset_index()
    df_to_plot.columns = ['type', 'absolute_frequency']
    df_to_plot.sort_values(by='type', inplace=True)
    
    f = sns.barplot(x='type', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel=column.replace('_', ' ').capitalize(), ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_val))

plt.show()

In [ ]:
# Now we are visualize the relation between the default and numeric atributes:

df_venda.drop(['date_part', 'id', 'estado_construcao', 'bl_temporada', 'cep', 'numero', 'precisao', 'is_outlier'], axis = 1).select_dtypes('number').head(n=5)

In [ ]:
# Now we are visualize the relation between the default and numeric atributes:

ds_venda.drop(['date_part', 'id', 'estado_construcao', 'bl_temporada', 'cep', 'numero', 'precisao', 'is_outlier'], axis = 1).select_dtypes('number').head(n=5)

In [ ]:
# Here we will combine the columns 'area' clustering in a specific with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'area'
titles = ['Area from non NaN df', 'Area from NaN ds']

max_y = 0


bins = [0, 25, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, float('inf')]

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df, ds]):
    # Use pd.cut() para criar intervalos e contar quantos valores estão em cada intervalo
    df_to_plot = pd.cut(dataframe[column], bins, right=False).value_counts().reset_index()
    df_to_plot.columns = ['area_interval', 'absolute_frequency']
    df_to_plot.sort_values(by='area_interval', inplace=True)
    
    f = sns.barplot(x='area_interval', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel='Area Interval', ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_y))

plt.show()

In [ ]:
# Here we will combine the columns 'area' clustering in a specific with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'area'
titles = ['Area from "Venda" non NaN df_venda', 'Area from "Venda" NaN ds_venda']

max_y = 0


bins = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, float('inf')]

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df_venda, ds_venda]):
    # Use pd.cut() para criar intervalos e contar quantos valores estão em cada intervalo
    df_to_plot = pd.cut(dataframe[column], bins, right=False).value_counts().reset_index()
    df_to_plot.columns = ['area_interval', 'absolute_frequency']
    df_to_plot.sort_values(by='area_interval', inplace=True)
    
    f = sns.barplot(x='area_interval', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel='Area Interval', ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_y))

plt.show()

In [ ]:
# Here we will combine the columns 'valor' clustering in a specific with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'valor'
titles = ['Property Value from non NaN df', 'Property Value from NaN ds']

max_y = 0


bins = [0, 50000, 100000, 150000, 200000, 300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000, 1100000, 1200000, 1500000, 1700000, 2000000, 2500000, 30000000, float('inf')]

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df, ds]):
    # Use pd.cut() para criar intervalos e contar quantos valores estão em cada intervalo
    df_to_plot = pd.cut(dataframe[column], bins, right=False).value_counts().reset_index()
    df_to_plot.columns = ['property_value', 'absolute_frequency']
    df_to_plot.sort_values(by='property_value', inplace=True)
    
    f = sns.barplot(x='property_value', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel='Property Value', ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_y))

plt.show()

In [ ]:
# Here we will combine the columns 'valor' clustering in a specific with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'valor'
titles = ['Property Value from non NaN df_venda', 'Property Value from NaN ds_venda']

max_y = 0


bins = [0, 50000, 100000, 150000, 200000, 300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000, 1100000, 1200000, 1500000, 1700000, 2000000, 2500000, 30000000, float('inf')]

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df_venda, ds_venda]):
    # Use pd.cut() para criar intervalos e contar quantos valores estão em cada intervalo
    df_to_plot = pd.cut(dataframe[column], bins, right=False).value_counts().reset_index()
    df_to_plot.columns = ['property_value', 'absolute_frequency']
    df_to_plot.sort_values(by='property_value', inplace=True)
    
    f = sns.barplot(x='property_value', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel='Property Value', ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y
    f.set(ylim=(0, max_y))

plt.show()

In [ ]:
# Here we will combine the columns 'valor' clustering in a specific with your absolute frequency between the non NaN df (df) and NaN df (ds): 

column = 'valor_m2'
titles = ['Property Value from non NaN df_venda', 'Property Value from NaN ds_venda']

max_y = 0


bins = [0, 2500, 5000, 7500, 10000, 12500, 15000, 17500, 20000, 22500, 25000, 30000, float('inf')]
max_y = 0

figure, axis = plt.subplots(1, 2, figsize=(20, 5), sharex=True)

for axle, dataframe in enumerate([df_venda, ds_venda]):
    df_to_plot = pd.cut(dataframe[column], bins, right=False).value_counts().reset_index()
    df_to_plot.columns = ['property_value', 'absolute_frequency']
    df_to_plot.sort_values(by='property_value', inplace=True)
    
    f = sns.barplot(x='property_value', y='absolute_frequency', data=df_to_plot, ax=axis[axle])
    f.set(title=titles[axle], xlabel='Square meter value', ylabel='Absolute Frequency')
    f.set_xticklabels(labels=f.get_xticklabels(), rotation=90)
    _, max_y_f = f.get_ylim()
    max_y = max_y_f if max_y_f > max_y else max_y

# Defina o mesmo limite superior (max_y) para ambos os gráficos
for ax in axis:
    ax.set(ylim=(0, max_y))

plt.show()

**Both of df_venda and ds_venda** have the same pattern at the bars of the graph!

# Let's create our maps and do our spatial analysis!

At the end, and for finish with our main objective **to represent the Apartament Square Meter Value in the Downtown of Florianópolis City** we will create some maps to represent it.

In [ ]:
import folium
import ipywidgets as widgets

from folium import LayerControl

from folium.plugins import HeatMap
from branca.colormap import LinearColormap
from folium.plugins import HeatMap
from branca.colormap import LinearColormap
from IPython.display import display

In [ ]:
# Yes we still have problmens with NaNs. Probably the nans are in the 'valor_m2' column

df_venda_clean = df_venda.dropna(subset=['lat', 'lon', 'valor_m2'])
df_venda_clean = df_venda_clean[df_venda_clean['tipo_imovel'] == 'Apartamento']

In [ ]:
# Creating a folium map
m = folium.Map(location=[df_venda_clean['lat'].mean(), df_venda_clean['lon'].mean()], zoom_start=15)

# Adding simple markes for each point 
for row in df_venda_clean.itertuples():
    folium.CircleMarker(
        location=[row.lat, row.lon],
        radius=5,  
        color='blue',  
        fill=True,
        fill_color='blue',  
        fill_opacity=0.6,  
        popup=f'Square meter value: R${row.valor_m2:.2f}'
    ).add_to(m)

# Show de interactive map
display(m)

In [ ]:
# Creating a map using a CartoDB style
m = folium.Map(location=[df_venda_clean['lat'].mean(), df_venda_clean['lon'].mean()], zoom_start=15, tiles='cartodbpositron')

# Creating a list wifh coordinates and associated values
data = [[row['lat'], row['lon'], row['valor_m2']] for index, row in df_venda_clean.iterrows()]

# Setting a collor gradient
colormap = LinearColormap(
    colors = ['#FFFFCC', '#FFEDA0', '#FED976', '#FEB24C', '#FD8D3C', '#FC4E2A', '#E31A1C', '#BD0026', '#800026'],
    index=[0, 5000, 10000, 12500, 15000, 20000, 25000],
    vmin=0,
    vmax=25000
)

# Creating a heatmap with the associanted values
HeatMap(data, gradient={0.0: colormap(0), 0.1667: colormap(5000), 0.3333: colormap(10000), 0.5: colormap(15000), 0.6667: colormap(20000), 0.8333: colormap(25000), 1.0: colormap(30000)}).add_to(m)

# Adding legends at the map
colormap.caption = 'Square meter value'
colormap.add_to(m)

# Showing the interactive map
m

**Let's integrate a point and heatmap!**

In [ ]:
# Creating a map using a CartoDB style
m = folium.Map(
    location=[df_venda_clean['lat'].mean(), df_venda_clean['lon'].mean()],
    zoom_start=15,
    tiles='cartodbpositron'
)

# Creating a list wifh coordinates and associated values
data = [[row['lat'], row['lon'], row['valor_m2']] for index, row in df_venda_clean.iterrows()]

# Defining a collor gradient
colormap = LinearColormap(
    colors=['#FFFFCC', '#FFEDA0', '#FED976', '#FEB24C', '#FD8D3C', '#E31A1C', '#BD0026'],
    index=[0, 5000, 10000, 12500, 15000, 20000, 25000],
    vmin=0,
    vmax=25000
)


# Creating a heatmap with the associanted values
HeatMap(data, gradient={0.1667: colormap(5000), 0.3333: colormap(10000), 0.5: colormap(15000), 0.6667: colormap(20000), 0.8333: colormap(25000), 1.0: colormap(30000)}, name='Heat Map').add_to(m)

# adding legend in the map
colormap.caption = 'Square meter Apartaments value'
colormap.add_to(m)

# Adding simple markes for each point 
points_layer = folium.FeatureGroup(name="Points")
for row in df_venda_clean.itertuples():
    folium.CircleMarker(
        location=[row.lat, row.lon],
        radius=3.2,  
        color='rgba(225, 225, 225, 0.35)',  
        fill=True,
        fill_color='rgba(135, 135, 135, 0.35)',  
        fill_opacity=0.6,
        popup=f'Square meter Apartament value: R${row.valor_m2:.2f}'
    ).add_to(points_layer)

# Adding layers to map
points_layer.add_to(m)

# Addomg a map controls
LayerControl().add_to(m)

# Showing the interactive map
m

In [ ]:
# Saving the map in HTML

m.save("heatmap_fdrsa.html")

# Final Considerations

At the final of this data acquisition,cleanig,transforming and visualizing and many skills was acquired. 

* One of the most important was the habit to was documenting the process through the codes and text. This turned the work easier because this project was developed more than a single day.

* Other important factor is relationed with the full knowledge about the data and its problemns. This is an important and crucial thing to observe and develope and improve the analytic skills in the next work.

* At the end, I can get the main objective to spacialize the Square Meter of the Apartaments at the Downtown in Florianópolis.

I'm so glad about this work.

If you have any consideration or apointment, cosider send a message, review or post about it.

Cya.